* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }

  .header_container {
    color: #ffffff;
    background-color: #1F2937;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
  }

  .header_bar {
    color: #F9FAF8;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .header_logo{
    font-size: 24px;
     color: #F9FAF8;
  }
  .link1 {
    margin-left: auto;
  }

  .header_content {
    color: #F9FAF8;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    
  }

  .left_content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 50%;
    
  }

  .button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
  }
    
  .header_1 {
    font-size: 48px;
    font-style: extra_bold; 
    color: #F9FAF8;
    margin: 4px 2px;
      }

  .header_text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 4px 2px;
  }

  .right_content {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    width: 50%;
    background-color: grey;

  }

  .middle_section {
    width: 900px;
    background-color: #ffffff;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header_middle h1 {
    font-size: 36px;
    font-style: extra_bold;
    color: #1F2937;
    
  }
 
.middle_content {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 20px;
}
.image_container {
  width: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.image{
  height: 120px;
  width: 120px;
  border: 2px solid #3882F6;
  border-radius: 6px;
}

.quotation_container {
  
  
  height: auto;
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: light italic;
  color: #1F2937;
  text-align: justify;

  
}

.quotation {
    width: 900px;
    padding:40px;
}

.right-aligned {
  text-align: right;
  font-size: 28px;
}

.call_to_action_container {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
    padding: 40px 0px 40px 0px;
    display: flex;
    background-color: #3882F6;
    border-radius: 6px;
}

.slogans {
  width: 450px;  
  display: flex;
  flex-direction: column;
  
}

.cta_header {
  width: 450px;  
  font-size: 20px;
  
}

.cta_text {
  width: 450px;  
    font-size: 14px;
   
}

.signup_button button {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    padding: 8px 20px;  
    text-decoration: none;
    display: inline;
    justify-self: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    
    
}

  .footer_container {
    color: #ffffff;
    background-color: #1F2937;  /* Blue */
    padding: 20px 0;
    text-align: center;
 
  }
